body {
    margin: 0;
    padding: 0;
    border: 0;

    background-color: black;

    width: 100vw;
    height: 100vh;

    display: grid;

    overflow: hidden;
}

canvas {
    width: 100vw;
    aspect-ratio: 16/8;

    background-color: turquoise;

    margin: auto;
}